table {
  
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.tablecContainer{
    padding: 30px
}

img {
  border-radius: 50%;
}

tr{
    background-color: white;
}

tr:nth-child(even) {
  background-color: #f7f9fa;
}

th, td {
  text-align: left;
  padding: 16px;
}

tbody tr:hover {
    transform: scale(1.05);
}

button{

}

tbody tr {
    transition: transform .2s;
}
