.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.sidebar{
 
}

th {
  color: #516378;
}

h1 {
  color: #516378;
}

thead {
    background-color: white;
}

table {
  width: 100vh;
}

.tablecContainer{
    padding-left: 30px;
    padding-right: 30px;
}

.page{
  color: #516378;
  background-color: #f3f6f9;
  margin: 20px;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: initial;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
